@(page: lib.html.Page)
@import bootstrap.tags._
@import bootstrap.helpers._
@layout.layout(page) {

<div class="container">
<div class="row about">
    <div class="col-lg-9">

        <div class="blog-post">
            <h2>О проекте &laquo;Куда уходят деньги?&raquo;</h2>

            <p>Цель проекта &mdash;
                ответить буквально на традиционный вопрос &laquo;Куда уходят бюджетные деньги?&raquo;,
                а именно показать карту распределения средств госконтрактов
                и предоставить небольшой набор аналитических инструментов
                (с возможность фильтрации списка контрактов по нескольким параметрам "на лету")

            <p>На данном этапе поиск осуществляется только в одном регионе &mdash; г. Москва </p>
            <p>Поиск данных о контрактах, госзаказчиках и подрядчиках осуществляется
                через API
                "<a href="http://clearspending.ru/">ГосЗатраты</a>"&nbsp;(<a href="http://clearspending.ru/">ClearSpending.ru</a>),
                проекта от &laquo;<a href="http://komitetgi.ru/">Комитета гражданских инициатив</a>&raquo;
                Алексея Кудрина</p>

            <h3>Возможности</h3>
            <p>На данные момент загружены данные за <b>2011</b>, <b>2012</b> и <b>2013</b> годы по городу Москва. </p>
            <p>Доступны следующие возможности:</p>
            <ul>
                <li>Поиск с различными параметрами (дата заключения, сумма контракта, уровень бюджета, территория)</li>
                <li>Отображение на карте (heat map) найденных заказчиков.</li>
                <li>Отображение на карте (heat map) найденных поставщиков.</li>
                <li>Отображение интерактивных графиков распределения (суммы контракта, даты, квартал)
                    с возможностью фильтрации "на лету"</li>
            </ul>

            <h4>Ограничения <small>отказ от ответственности</small></h4>
            <p>К сожалению, не можем гарантировать полноту и корректность всей информации.</p>
            <p>К возможным ошибкам в информации от сайта <a href="http://www.zakupki.gov.ru/">ГосЗакупок</a> и проекта <a href="http://clearspending.ru/">ClearSpending</a>,
                добавляются следующие ограничения проекта "Куда уходят деньги":</p>
            <ul>
                <li>Поиск только среди заказчиков и поставщиков с адресами в городе Москва</li>
                <li>На карте не отображаются поставщики &mdash; частные лица (индивидуальные предприниматели)</li>
                <li>На карте отображаются только те поставщики и заказчики, у которых успешно распознались адреса</li>
                <li>В свою очередь, отображаются только те распознанные адреса, о которых нашлась информация в OpenStreetMap
                    <br/> (Это примерно <b>40%</b> от общего количества адресов)</li>
                <li>Есть вероятность некорректного распознания и указания адресов, т.к. геокодирование проводилось автоматически и не проверялось человеком</li>
            </ul>
            <p>При использовании результатов поиска в серьезных исследованиях &mdash; обращайтесь с проверкой к первоисточнику (порталу <a href="http://www.zakupki.gov.ru/">ГосЗакупок</a>).</p>

            <h3>Обратная связь</h3>
            <p>С предложениями и идеями можно обратиться по email: <a href="mailto:spending.map@@gmail.com">spending.map@@gmail.com</a></p>

            <h3>Использованные данные и компоненты</h3>
            <p>Данные</p>
            <ol>
                <li><a href="http://clearspending.ru/">ClearSpending</a> &mdash; данные о контрактах, заказчиках и поставщиках</li>
                <li><a href="http://openstreetmap.org/">OpenStreetMap</a> &mdash; карты Москвы, информация об адресах</li>
            </ol>

            <p>Программные компоненты</p>
            <pre><code><a href="http://www.playframework.com/">Play! framework 2</a>, <a href="http://getbootstap.com">Bootstrap 3</a>, <a href="http://leafletjs.com/">Leaflet</a>, <a href="http://square.github.io/crossfilter/">Crossfilter</a>, <a href="http://d3js.org/">D3</a>, <a href="http://nickqizhu.github.io/dc.js/index.html">dc.js</a> </code></pre>

        </div><!-- /.blog-post -->

    </div>
    <div class="col-lg-3">

        <div class="sidebar-module sidebar-module-inset">
            <h4>Коротко</h4>
            <p>Поиск и отображение на карте госконтрактов из Москвы.</p>
        </div>


        <div class="sidebar-module">
            <h4>См. также</h4>
            <ol class="list-unstyled">
                <li>
                    "<a href="http://clearspending.ru/">ГосЗатраты</a>"
                    (<a href="http://clearspending.ru/">ClearSpending.ru</a>)
                </li>
            </ol>
        </div>

    </div>
</div>
</div>

}